@font-face {
    font-family: "driftwood";
    src: url("CustomFonts/Driftwood.ttf");
}

.test{
    font-family: "driftwood";
}


.bg-hero-image{
    background-image: url('imgs/working on it'); /*gotta get that ASAP*/
    background-position: center center;
}