@font-face {
    font-family: "driftwood";
    src: url("CustomFonts/Driftwood.ttf");
}

.test{
    font-family: "driftwood";
}


.bg-hero-image{
    background-image: url('imgs/working on it'); /*gotta get that ASAP*/
    background-position: center center;
}

.heropanel--video {
    font-family:sans-serif;
    min-height:500px;
    width:70%;
    margin-left: 15%;
    background-color: grey;
}

@media (width <= 576px) {
    .heropanel--video {
        width: 100%;
        margin: 0px;
    }
}

@keyframes gm-slidein {
    from {
        -webkit-transform:translate3d(0,-100%,0);
        opacity:0;
        transform:translate3d(0,-100%,0);
    }
	
    to {
        -webkit-transform:none;
        opacity:1;
        transform:none;
    }
}

.heropanel__content {
    -moz-animation:gm-slidein 3s 1;
    -ms-animation:gm-slidein 3s 1;
    -o-animation:gm-slidein 3s 1;
    -webkit-animation:gm-slidein 3s 1;
    animation:gm-slidein 3s 1;
    border-bottom:1px solid #FFF;
    margin:0 auto;
    max-width:50%;
    padding:4em 0 2em;
    text-align:center;
}

.heropanel__content h1 {
    margin:0 0 .5em;
    text-transform:uppercase;
}

.heropanel__content h1 a {
    color:#FFF;
    text-decoration:none;
}

.heropanel__content p {
    color:#fff;
    margin:0;
    text-transform:uppercase;
}

.staggered-card:nth-child(odd) {
    margin-left: 30%;
}
.staggered-card:nth-child(even) {
    margin-right: 30%;
}

.placeholder {
    background-color: grey; /*so we can see the full size of any given item*/
}

.max-width {
    width: 100%;
}